<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Blog</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %><%= JSON.stringify(user) %>
<!-- 
    <div class="container mt-4">
        <h1><%= blog.title %></h1>
        <img src="<%= blog.coverImageURL %>" width="700px" />
        <pre class="mt-3"><%= blog.body %></pre>  
    </div>

    <div class="container mt-4">
        <img src="<%= blog.createdBy.profileImageURL %>" width="70px" />
        <%= blog.createdBy.fullName %>  
    </div>

    <div class="container mt-3">
        <h1>Comments (<%= comments.length %>)</h1> -->




        <% if (locals.user) { %>
            <div class="card" style="width: 18rem; border-color: brown;">
                <img src="<%= doctor.coverImageURL %>" class="card-img-top" alt="...">
                <div class="card-body" style="background-color: rgb(204, 255, 200);">
                  <h5 class="card-title">
                    <%= doctor.doctorName %>
                  </h5>
                  <h6 class="card-title">
                    <%= doctor.speciality %>
                  </h6>

                </div>
              </div>
              <form action="comment/<%= blog._id %>" method="post">
                <button type="submit" class="btn btn-danger appointment-button"
                  <% if (!doctor.appointmentRequested) { %>
                    data-content="Ask for Appointment"
                  <% } else { %>
                    data-content="Request Pending"
                    style="background-color: green;"
                  <% } %>
                >
                  <% if (!doctor.appointmentRequested) { %>
                    Ask for Appointment
                  <% } else { %>
                    Request Pending
                  <% } %>
                </button>
              </form>
            <form action="comment/<%= blog._id %>" method="post">
                <a href="/doctor/requestAppointment/<%= doctor._id %>" class="btn btn-danger">Ask for Appointment</a>
                </form>

              <% } %>




              
              <!-- <div class="mt-3">
                  <% comments.forEach(comment => { %>
                      <div>
                          <img src="<%= comment.createdBy.profileImageURL %>" width="70px" />
                          <%= comment.createdBy.fullName %>: 
                          <pre><%= comment.content %></pre>
                      </div>
                  <% }) %>
              </div> -->
    </div>
    <%- include('./partials/script.ejs') %>
</body>
</html>